:root {
    --bg: white;
    --textColor: black;
    --softBg: #f0f0f0;
    --softTextColor: #626262;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body { 
    max-width: 100%;
    overflow-x: hidden;
}

a {
   color: inherit;
   text-decoration: none; 
}

.container {
    min-height: 100vh;
    background-color: var(--bg);
    color: var(--textColor);
}